/*===================================================
              LAYOUT y CLASES GENERALES                                     
===================================================*/
@import url(reset.css);
@import url(mood.css);
@import url(formularios.css);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);
html, body {
  height: 100%; }

body {
  font: 16px/1.3 'Raleway', sans-serif;
  font-weight: 400;
  color: #2C3E50;
  text-align: center;
  background-color: #FFF; }

p {
  margin-bottom: 16px;
  font: 16px/1.3 'Raleway', sans-serif; }

strong, b {
  font-weight: 700; }

hr {
  clear: both;
  margin: 30px 0;
  height: 1px;
  border: 0;
  background-color: #CCC; }

em, i {
  font-style: italic;
  color: #666; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
  font-weight: 600;
  color: #2C3E50;
  letter-spacing: 0;
  font-family: 'Raleway', sans-serif; }

h1 {
  font-size: 26px;
  margin-bottom: 11px; }

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 400; }

h3 {
  font-size: 22px;
  margin-bottom: 9px; }

h4 {
  font-size: 20px;
  margin-bottom: 8px; }

h5 {
  font-size: 18px;
  margin-bottom: 7px; }

h6 {
  font-size: 16px;
  margin-bottom: 6px; }

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited, h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited {
  color: #333;
  text-decoration: none; }
h1 a:hover, h1 a:active, h2 a:hover, h2 a:active, h3 a:hover, h3 a:active, h4 a:hover, h4 a:active, h5 a:hover, h5 a:active, h6 a:hover, h6 a:active {
  color: #000;
  text-decoration: underline; }

ul {
  padding: 10px 40px; }
  ul li {
    list-style: disc; }
  ul.simple {
    padding: 10px 20px; }
    ul.simple li {
      list-style: none;
      padding: 5px 0; }
      ul.simple li img {
        float: left;
        margin-right: 5px; }

a:link, a:visited {
  color: #333; }

a:active, a:hover {
  color: #000; }

.clear {
  clear: both; }

.left, .right, .center {
  float: left;
  display: block; }

.alert {
  color: #d00; }

.txtL {
  text-align: left; }

.txtC {
  text-align: center; }

.txtR {
  text-align: right; }

.floatR {
  float: right; }

.floatL {
  float: left; }

/*---------------------------------------------------*/
.wrap {
  margin: auto;
  text-align: left;
  width: 1100px; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

table {
  width: 100%;
  line-height: 1.2em;
  overflow-x: scroll; }
  table td, table th {
    padding: 10px;
    word-wrap: break-word; }
  table th {
    font-weight: bold; }
  table thead td, table thead th {
    font-weight: bold; }
  table tfoot tr td {
    background-color: #EEE;
    vertical-align: middle;
    font-size: 11px; }
    table tfoot tr td a {
      padding: 2px 5px;
      -webkit-border-radius: 2px 2px 2px 2px;
      -moz-border-radius: 2px 2px 2px 2px;
      border-radius: 2px 2px 2px 2px;
      text-decoration: none; }
      table tfoot tr td a:link, table tfoot tr td a:visited {
        text-decoration: none; }
      table tfoot tr td a:hover, table tfoot tr td a:active {
        color: #FFF; }
      table tfoot tr td a.activo {
        color: #FFF; }
  table.secundaria thead {
    background-color: #DDD;
    color: #666;
    font-style: italic; }
  table.secundaria tbody td {
    border-bottom: 1px solid #DDD; }
  table.secundaria tbody .item td {
    background-color: #EEE; }

/*---------------------------------------------------*/
/*===================================================      
                    CONTENIDO                                           
===================================================*/
.tabs {
  text-align: center;
  padding: 0;
  border-bottom: 1px solid #CCC; }
  .tabs li {
    display: inline-block;
    list-style: none;
    font-size: 20px; }
    .tabs li a:link, .tabs li a:visited {
      padding: 20px 40px;
      width: 450px;
      border: 1px solid #FFF;
      display: block;
      color: #CCC;
      -webkit-border-radius: 8px 8px 0px 0px;
      -moz-border-radius: 8px 8px 0px 0px;
      border-radius: 8px 8px 0px 0px;
      text-decoration: none; }
    .tabs li a:hover, .tabs li a:active {
      background-color: #EEE;
      color: #666; }
    .tabs li a.activo {
      border: 1px solid #CCC;
      border-bottom: 1px solid #FFF;
      color: #2C3E50;
      position: relative;
      bottom: -1px;
      font-weight: 600; }

.filtro .fila {
  display: table-row; }
  .filtro .fila .cell {
    display: table-cell;
    width: 220px; }

.chart {
  width: 780px; }

text {
  font: 12px sans-serif; }

svg {
  display: block; }

#chart, svg {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%; }

.tips td {
  width: 265px;
  padding: 10px 10px 10px 70px;
  font-size: 16px; }
  .tips td:nth-child(1) {
    background: #EEE url("../images/icon-1.png") no-repeat 10px 7px; }
  .tips td:nth-child(2) {
    background: #EEE url("../images/icon-2.png") no-repeat 10px 7px; }
  .tips td:nth-child(3) {
    background-color: #EEE;
    width: 250px;
    padding: 10px;
    vertical-align: middle; }

a.btn:link, a.btn:visited {
  padding: 10px 30px;
  background-color: #666;
  color: #FFF;
  text-decoration: none;
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px; }
a.btn:hover, a.btn:active {
  background-color: #333; }
a.btn.entero {
  display: block;
  text-align: center; }

#overlay {
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: none; }

#info {
  margin: auto;
  padding: 20px;
  width: 400px;
  background: #fff;
  box-shadow: 0 4px 16px #999;
  z-index: 51;
  border: 1px  solid #acacac;
  position: absolute;
  display: none; }

#results {
  width: 400px; }

.ui-state-default {
  color: #666;
  font-weight: normal;
  font-size: 12px !important;
  padding: 5px 10px;
  width: 200px;
  height: 18px;
  margin-left: 2px;
  background-color: #FFF;
  background-image: none;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15) inset, 0 1px 0 #fff;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.15) inset, 0 1px 0 #fff; }

.ui-button.ui-state-default {
  width: 10px !important;
  padding: 2px !important;
  height: 10px !important; }

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
  width: 600px !important; }

/*===================================================            
                     BOTTOM                                                     
===================================================*/

/*# sourceMappingURL=style.css.map */
